# ─── DefectDojo Database ───
DD_POSTGRES_DB=defectdojo
DD_POSTGRES_USER=defectdojo
DD_POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD

# ─── DefectDojo Django ───
DD_DATABASE_URL=postgres://defectdojo:CHANGE_ME_DB_PASSWORD@postgres-ddojo:5432/defectdojo
DD_SECRET_KEY=CHANGE_ME_SECRET_KEY
DD_CREDENTIAL_AES_256_KEY=CHANGE_ME_32_CHAR_KEY
DD_ADMIN_USER=admin
DD_ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD
DD_ADMIN_MAIL=admin@example.com
DD_BASE_URL=http://localhost:8080
DD_ALLOWED_HOSTS=localhost,defectdojo
DD_EMAIL_URL=smtp://localhost:1025
DD_CELERY_BROKER_URL=redis://redis-ddojo:6379/0
DD_CELERY_RESULT_BACKEND=redis://redis-ddojo:6379/0
DD_DEBUG=False
DD_LOGIN_REDIRECT_URL=http://localhost:8080/

# ─── SonarQube Database ───
SONAR_POSTGRES_DB=sonarqube
SONAR_POSTGRES_USER=sonarqube
SONAR_POSTGRES_PASSWORD=CHANGE_ME_SONAR_DB_PASSWORD
SONAR_JDBC_URL=jdbc:postgresql://postgres-sonar:5432/sonarqube

# ─── SonarQube ───
SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
SONAR_SEARCH_JAVAOPTS=-Xms256m -Xmx256m
